<div class="home">
    <h1>Home Page</h1>
    <input type="text" [placeholder]="placeholderText" [(ngModel)]="name">
    <!-- Get color from home.component.ts -->
    <h3 [style.color]="nameColor">Hello {{name}}</h3>
    <button (click)="onClick()">
        Press Here
    </button>
    <h3 *ngIf="switch" style="color: green;">ON</h3>
    <h3 *ngIf="!switch" style="color: red;">OFF</h3>

    <!-- Create an input box to add books into bookList, add a submit button-->
    <input type="text" [(ngModel)]="bookName">
    <button (click)="add()">Add</button>

    <br>
    <ul>
        <h3>Book List</h3>
        <li *ngFor="let book of bookList">{{book}} <button (click)="remove(book)">❌</button></li>
    </ul>

    <table [border]="nameColor">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Book Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookList; let i = index">
                <td>{{i + 1}}</td>
                <td>{{book}}</td>
            </tr>
        </tbody>
    </table>
</div>